.room-code {
    height: 40px;
    border-radius: 8px;
    overflow: hidden;

    background: var(--grey);
    border: solid 1px var(--black);
    cursor: pointer;

    display: flex;

    > div {
        background: var(--black);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 16px 0 12px;
        width: 240px;
        font-size: 14px;
        font-weight: 500;
    }
}
